body {
  background-color: #AEB2B5;
  font-family: Verdana, Helvetica, sans-serif;
}

.container {
  background-color: white;
  width: 1800px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: #C5E9EA;
}

.content {
  background-color: #AEB2B5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap:5px;
  row-gap:5px;
}

/* Product Name and Image grid*/
.main {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: white;
}

/* Description and specs grid*/
.description {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: white;
}

/* Switch option button, price and button grid*/
.price {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: white;
}

/* Recommended item grids */
.recommended {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10%
}

.rec1 {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: white;
}

.rec2 {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: white;
}

.rec3 {
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: white;
}
